<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to Event Section</h1>
          <p class="lead">Here you can see two events and details related to it.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">ChampionShip</h5>
              <p class="card-text">This is ChampionShip League event, to see score from Jan to April. Click down below</p>
              <a routerLink='/events/championship' class="btn btn-primary">Click here for more info</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">NPL Premier Division </h5>
              <p class="card-text">This is NPL Premier Division League event, to see score from Jan to April. Click down below</p>
              <a routerLink='/events/npl' class="btn btn-primary">Click here for more info</a>
            </div>
          </div>
        </div>
      </div>
</div>